# Removes the log files
logs/

# Removes the save files
save/

# Removes pyc and pycache
__pycache__/
*.pyc

# Removes the sources of the input
Text/Balzac/*.txt
Text/Hugo/*.txt
Text/Zola/*.txt
Text/Verne/*.txt
Text/Maupassant/*.txt
Text/Proust/*.txt